body {
    width: 80%;
    margin: 10%;
}

.btn-group {
    box-sizing: border-box;
    align-content: center;
}

#buttons {
    margin: 5%;
}

.iconArea {
    box-sizing: border-box;
    align-content: center;
}

button {
    margin:1px;
}