@import url('https://fonts.googleapis.com/css?family=Slackey&display=swap');


html {
    background-image: url("https://thumbs.gfycat.com/OrdinaryUnkemptHornbill-size_restricted.gif");
    background-size: cover;
}

body {
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: 'Slackey', cursive;
}

.btn-group {
    box-sizing: border-box;
    align-content: center;
}

#buttons {
    margin: 5%;
}

.iconArea {
    box-sizing: border-box;
}

#textArea {
    text-align: center;
}

#computerTextArea{
    text-align: center;
}

button {
    margin:1px;
}

#ResultTextArea {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 4rem;
    text-align: center;
    color: #33b5e5;
    text-shadow: 3px 2px#37474F;
    font-family: 'Slackey', cursive;
}